section.about {
    background-color: #DE744C;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.about h1{
    color:#BFD8D2;
}